<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta property="og:url" content="https://azunyan.io">
    <meta property="og:type" content="website">
    <meta property="og:title" content="ウナギンチャクのホームページ">
    <meta property="og:description" content="公開サービスが増えてきて訳わからなくなってきたので、簡易ポータルサイトを作りました。">
    <meta property="og:site_name" content="ウナギンチャクのホームページ">
    <meta property="og:image" content="https://azunyan.io/static/images/power_usagi.png">
    <title>ウナギンチャクのホームページ</title>
    <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
    <link rel=stylesheet type=text/css href="../static/custom.css">
    <link rel="icon" href="../static/images/mnc2x.png">
</head>

<body>
    <nav class="navbar navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <img src="../static/images/mnc2x.png" alt="" width="30" height="30"
                    class="d-inline-block align-text-top">
                ウナギンチャクのホームページ
            </a>
        </div>
    </nav>
    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
            <div class="card card text-white bg-secondary h-100">
                <img src="../static/images/traefik.webp" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">Traefik</h5>
                    <p class="card-text">
                        Traefikはオープンソースのエッジルーターです。
                        あずにゃんサーバで公開しているWebサービスは、すべて
                        「Traefik」を経由して公開されています。</p>
                    <a href="https://traefik.azunyan.io" class="btn btn-primary" target="_blank">アクセス</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card text-white bg-secondary  h-100">
                <img src="../static/images/portainer.webp" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">Portainer🔑</h5>
                    <p class="card-text">
                        Portainerはオープンソースの
                        Webブラウザベースで動作する、DockerのGUI管理ツールです。
                        CLIで操作するDockerをGUI上で操作することが可能です。</p>
                    <a href="https://portainer.azunyan.io" class="btn btn-primary" target="_blank">アクセス</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card text-white bg-secondary  h-100">
                <img src="../static/images/dynmap.webp" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">Dynmap</h5>
                    <p class="card-text">DynmapはMinecraftのワールドをGoogleMAPのように表示させるWebアプリです。
                        現在オンラインのMinecraftワールドのプレイヤーをリアルタイムに表示します。</p>
                    <a href="http://dynmap-pitekusu.s3-website-ap-northeast-1.amazonaws.com" class="btn btn-primary" target="_blank">アクセス</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card text-white bg-secondary  h-100">
                <img src="../static/images/prometheus.webp" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">Prometheus</h5>
                    <p class="card-text">Prometheusはオープンソースの監視ソフトウェアです。
                        Exporterを使用することで、サーバ監視以外にも様々な時系列データを取得できます。</p>
                    <a href="https://prometheus.azunyan.io" class="btn btn-primary" target="_blank">アクセス</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card text-white bg-secondary  h-100">
                <img src="../static/images/nextcloud.webp" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">Nextcloud🔑</h5>
                    <p class="card-text">Nextcloudはオープンソースのオンラインストレージです。
                        自宅NAS内のファイルをウェブ上で閲覧可能にしています。</p>
                    <a href="https://nextcloud.azunyan.io" class="btn btn-primary" target="_blank">アクセス</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card text-white bg-secondary  h-100">
                <img src="../static/images/vaultwarden.webp" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">Vaultwarden🔑</h5>
                    <p class="card-text">Vaultwardenはオープンソースのパスワード管理アプリです。
                        Webサービス等の認証情報を保存し、必要時に取り出すことができます。</p>
                    <a href="https://vaultwarden.azunyan.io" class="btn btn-primary" target="_blank">アクセス</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card text-white bg-secondary  h-100">
                <img src="../static/images/code-server.webp" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">code-server🔑</h5>
                    <p class="card-text">code-serverはオープンソースのVisualStudio Code互換Webアプリです。
                        Web上でVisualStudio Codeを利用してコーディング作業等が可能です。</p>
                    <a href="https://code-server.azunyan.io" class="btn btn-primary" target="_blank">アクセス</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card text-white bg-secondary  h-100">
                <img src="../static/images/truenas.webp" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">TrueNAS🔑</h5>
                    <p class="card-text">TrueNASはオープンソースのファイルストレージ用OSです。
                        WebGUI上でファイルストレージ設定等の管理作業が可能です。</p>
                    <a href="https://truenas.azunyan.io" class="btn btn-primary" target="_blank">アクセス</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card text-white bg-secondary  h-100">
                <img src="../static/images/nvr510.webp" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">YAMAHA NVR510🔑</h5>
                    <p class="card-text">NVR510はYAMAHA製のネットワークルータです。
                        WebGUI上でルータ設定が可能で、通常のインターネット接続はMAP-E、公開サーバはPPPoEに振り分けています。</p>
                    <a href="https://nvr510.azunyan.io" class="btn btn-primary" target="_blank">アクセス</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card text-white bg-secondary  h-100">
                <img src="../static/images/power_usagi.png" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">👷工事中👷</h5>
                    <p class="card-text">筋肉はすべてを解決する。</p>
                </div>
            </div>
        </div>
    </div>
    <div id="footer">
        <footer class=”footer”>ウナギンチャクのホームページ Powered by Flask on Docker.</footer>
    </div>
</body>

</html>